.tw-followCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-size: 0.8rem;
}

.tw-followCard-header {
  display: flex;
  align-items: center;
  gap: 4px;
}

.tw-followCard-info {
  display: flex;
  flex-direction: column;
}

.tw-followCard-infoUserName {
  opacity: 0.6;
}

.tw-followCard-avatar {
  width: 48px;
  height: 48px;
  border-radius: 1000px;
}

.tw-followCard-button {
  cursor: pointer;
  margin-left: 16px;
  border: 0;
  border-radius: 999px;
  padding: 6px 16px;
  font-weight: bold;
  transition: 0.2s ease-in-out filter;
}

.tw-followCard-button.is-following {
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
}

.tw-followCard-button.is-following:hover {
  color: red;
  border: 1px solid red;
}

.tw-followCard-unfollow {
  display: none;
}

.tw-followCard-button:hover {
  filter: brightness(1.2);
}

.tw-followCard-button.is-following:hover .tw-followCard-text {
  display: none;
}

.tw-followCard-button.is-following:hover .tw-followCard-unfollow {
  display: block;
  color: red;
  &:after {
    display: inline-block;
    margin-left: 8px; /* Adjust the spacing as needed */
  }
}

